.jodi-component {
 position: relative;
  .jodi-images {
    // position: absolute;
    width: 57vw;
     position: relative;
    .frame {
      width: 100%;
      position: relative;
      z-index: 1;
      pointer-events: none;
    }
    .user-img{
        width: 15vw;
        position: absolute;
        right: lef;
        left: 12vw;
        top: 14vw;
        z-index: 0;
        border-radius: 100%;
    }
    .talent-img{
        width: 15vw;
        position: absolute;
        right: lef;
        left: 30vw;
        top: 14vw;
        z-index: 0;
        border-radius: 100%;
    }
  }
  .level-images{
    position: relative;
    top: 3vw;

    .user{
      position: absolute;
      width: 13vw;
      z-index: 1;
      top: -9vw;
      left: 15vw;
  

    }
    .talent{
      position: absolute;
      width: 7vw;
      top: -9vw;
      left: 34vw;
      z-index: 1;
    }
  }
  .names {
    display: flex;
    position: relative;
    left: 2vw;
    top: -2vw;
    color: white;
    font-size: 2.3vw;
    justify-content: center;
    align-items: center;
    .uname {
      width: 25vw;
      height: 8vw;
      background-image: url("../assets/images/diwali-dhamka//user-name-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      

      .beans-div {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 3vw;
        }
      }
    }
    .tname {
    //     position: absolute;
      width: 25vw;
      height: 8vw;
      background-image: url("../assets/images/diwali-dhamka//user-name-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    
      .beans-div {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 3vw;
        }
      }
    }
  }
  .expected-beans{

    height: 6vw;
    background-image: url('../assets/images/diwali-dhamka/expected-beans.png');
   background-size: 100% 100%;


    position: absolute;
    left: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    font-weight: bold;
    flex-direction: column;
  }
}
