.jodi-leaderboard-item {
  width: 97%;
  height: 33vw;
  background-image: url("../assets/images/diwali-dhamka/1st-7th-leaderboard-strip.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .left-div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      font-size: 3vw;
      color: white;
    }
    .level {
      width: 8vw;
    }
    .beans-div {
      color: white;
      width: 15vw;
      height: 5vw;
      background-color: #280348;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1.5vw;
      font-size: 2vw;
      img {
        width: 3vw;
        position: relative;
        top: 0.2vw;
      }
    }
  }
  .center-div {
    flex-grow: 2;
    position: relative;
    left: -3vw;
    top: -10vw;

    .images-with-frames {
      position: relative;
      .two-frame {
        position: absolute;
        width: 35vw;
        z-index: 1;
      }
      .user-img {
        position: absolute;
        width: 9vw;
        left: 8vw;
        top: 2vw;
      }
      .talent-img {
        position: absolute;
        width: 9vw;
        left: 18vw;
        top: 2vw;
      }
    }
    .beans-cont-text{
        position: absolute;
        bottom: -15vw;
        left: 7vw;
        width: 23vw;
    }
    .beans-cont-value{
        width: 30vw;
        height: 6vw;
        background-color: #280348;
        border-radius: 1vw;
        position: absolute;
        top: 17vw;
        left: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        img{
            width: 4vw;
            margin-top: 1vw;
        }
        span{
            font-size: 3vw;
        }
    }

  }
  .right-div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .name {
      font-size: 3vw;
      color: white;
    }
    .level {
      width: 8vw;
    }
    .beans-div {
      color: white;
      width: 15vw;
      height: 5vw;
      background-color: #280348;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1.5vw;
      font-size: 2vw;
      img {
        width: 4vw;
      }
    }
  }
}
