.slider2 {
    width: 90%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/rewards-bg.png');
    height: 55vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    
    .rewards-text{
        width: 24vw;
    position: absolute;
    top: 4vw;
    }

    .left-arrow {
      width: 4vw;
    }
    .right-arrow {
      width: 4vw;
    }
  
    .slider-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      gap: 1vw;

  
     .rew-container{
      display: flex;
      justify-content: center;
      width: 60vw;
      // border: 2px solid;
      .reward-item{
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 20vw;
        // border: 1px solid;
        // justify-content: center;
        align-items: center;
        

        .image-div{
          padding: 2vw;
          background-image: url('../assets/images/rewards-base.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
          img{
            width: 12vw;
          }
        }
        
  
        p{
          font-size: 2vw;
        }
        
      }

     }

     
      }
     
      .indicators {
        display: flex;
        gap: 1vw;
        margin-top: 4vw;
        .slider-dot {
          width: 2vw;
          height: 2vw;
          border-radius: 100%;
          border: 0.2vw solid yellow;
          background-color: brown;
        }
        .active-dot {
          background-color: gold !important;
        }
      }
    }
  
  